.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Tamaño del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.logo-text {
    display: flex;
    align-items: baseline;
}
