<div class="container">
  <div class="logo-container">
      <img src="assets/fruiticon.png" alt="Logo de la empresa" class="logo">
      <div class="logo-text">
          <span class="main green">FRUIT</span>
          <span class="main orange">SAFE</span>
      </div>
  </div>
  <nav>
      <div *ngIf="!isAuthenticated">
          <ul>
              <li><a routerLink="/home" class="main orange" aria-label="Ir a inicio">Home</a></li>
              <li><a routerLink="/aboutUs" class="main green" aria-label="Ir a acerca de nosotros">About Us</a></li>
              <li><a routerLink="/login" class="main orange" aria-label="Iniciar sesión">Login</a></li>
          </ul>
      </div>
      <div *ngIf="isAuthenticated">
          <ul *ngIf="userProfile === 1">
              <li><a routerLink="/updateInfo" class="main green" aria-label="Actualizar información">Actualizar información</a></li>
              <li><a routerLink="/updateUser" class="main orange" aria-label="Lista de usuarios">Lista de usuarios</a></li>
              <li><a routerLink="/registro" class="main green" aria-label="Registro de usuarios">Registro de usuarios</a></li>
              <li><a routerLink="/login" class="main orange" (click)="logOut()" aria-label="Cerrar sesión">Cerrar sesión</a></li>
          </ul>
          <ul *ngIf="userProfile === 2">
              <li><a routerLink="/changePassword" class="main orange" aria-label="Cambiar contraseña">Cambiar contraseña</a></li>
              <li><a routerLink="/firebase-data" class="main green" aria-label="Datos Firebase">Datos Firebase</a></li>
              <li><a routerLink="/info" class="main orange" aria-label="Información">Información</a></li>
              <li><a routerLink="/operador" class="main green" aria-label="Operador">Operador</a></li>
              <li><a routerLink="/login" class="main orange" (click)="logOut()" aria-label="Cerrar sesión">Cerrar sesión</a></li>
          </ul>
      </div>
  </nav>
</div>
