<div class="container">
  <div class="row justify-content-center align-items-center vh-auto">
    <h2>Cambiar Contraseña</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="oldPassword">Contraseña Antigua</label>
        <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control">
      </div>
      <div class="form-group">
        <label for="newPassword">Nueva Contraseña</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
        <div *ngIf="changePasswordForm.controls['newPassword'].errors?.['passwordInvalida'] && changePasswordForm.controls['newPassword'].touched" class="text-danger">
          La contraseña debe tener al menos 6 caracteres y contener al menos una letra y un número.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">Confirmar Nueva Contraseña</label>
        <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" class="form-control">
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <button type="button" class="btn" (click)="validatePasswords()">Cambiar Contraseña</button>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" [ngClass]="{'show d-block': showModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Cambio de Contraseña</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas cambiar tu contraseña?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn" (click)="onSubmit()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
