<section class="hero">
    <div class="hero-content">
        <h1>
        <span class="green">BIENVENIDO A FRUIT </span>
        <span class="orange"> SAFE</span>
    </h1>
        <p class="hero-text">
            Tu aliado en la frescura y seguridad de las frutas. En FrutaSafe, utilizamos tecnología avanzada para detectar la 
            calidad de tus frutas a través de la medición de gases. Nuestro sistema inteligente te ayuda a identificar cuándo
             tus productos están en su mejor estado, garantizando así una alimentación más saludable y segura. <br>
             
             Con FrutaSafe, puedes disfrutar de la frescura y sabor de tus frutas favoritas, mientras cuidamos de tu salud
             y bienestar. ¡Descubre cómo nuestra innovadora solución puede transformar tu experiencia con las frutas!
        </p>
        <a routerLink="/login" class="btn">Probar</a>
    </div>
    <img src="assets/fruit.jpg" alt="Fruits" class="hero-image">
</section>