.btn {
  background-color: #fc8710; /* Naranja */
  color: #fff;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block; /* Para que el botón no ocupe todo el ancho del contenedor */
  margin-top: 20px; /* Espacio entre el párrafo y el botón */
  font-size: 1.5em; /* Tamaño de letra igual al de "FRUIT SAFE" */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.btn:hover {
  background-color: #75a624; /* Verde al pasar el ratón */
  transform: translateY(-2px); /* Efecto de elevación al pasar el ratón */
}

.container {
  margin-top: 40px; /* Ajusta este valor según sea necesario */
}

.modal {
  display: none;
}

.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  margin: 1.75rem auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.modal-header .btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}

.modal-body {
  padding: 1.25rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #dee2e6;
}

.alert {
  border-radius: 5px; /* Bordes redondeados en el mensaje de alerta */
}

.text-danger {
  color: #dc3545; /* Color rojo para el mensaje de error */
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px; /* Espacio adicional en pantallas pequeñas */
  }
}
