<footer class="footer bg-light text-center text-lg-start">
  <!-- Enlace de salto para navegadores con teclado -->
  <a class="sr-only sr-only-focusable" href="#footer-content">Saltar al contenido del pie de página</a>
  
  <div class="overlay"></div>
  <div class="container p-4" id="footer-content">
    <div class="row">
      <!-- Columna con la imagen y texto -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <div class="logo-text">
          <img src="assets/fruiticon.png" alt="Logo de la empresa FruitSafe" class="logo">
          <div>
            <span class="main green">FRUIT</span>
            <span class="main orange">SAFE</span>
          </div>
        </div>
      </div>

      <!-- Acerca de nosotros -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Acerca de nosotros</h5>
        <p class="text-dark">Página diseñada con el propósito de monitorear el deterioro y la descomposición de las frutas.</p>
      </div>
      <!-- Contacto -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="mailto:mperaltam4@est.ups.edu.ec" class="text-dark" aria-label="Enviar un correo a mperaltam4@est.ups.edu.ec">Correo: mperaltam4&#64;est.ups.edu.ec</a></li>
          <li><a href="mailto:bmenendezj@est.ups.edu.ec" class="text-dark" aria-label="Enviar un correo a bmenendezj@est.ups.edu.ec">bmenendezj&#64;est.ups.edu.ec</a></li>
          <li><a href="mailto:cgatia@est.ups.edu.ec" class="text-dark" aria-label="Enviar un correo a cgatia@est.ups.edu.ec">cgatia&#64;est.ups.edu.ec</a></li>
        </ul>
      </div>

      <!-- Redes Sociales -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes Sociales</h5>
        <ul class="list-unstyled mb-0 social-links">
          <li><a href="https://www.linkedin.com/in/cristina-gatia-970a45310" class="text-dark" aria-label="Perfil de LinkedIn de Cristina Gatia"><i class="fab fa-linkedin"></i> Cristina Gatia</a></li>
          <li><a href="https://www.linkedin.com/in/mishelle-men%C3%A9ndez-a65a45310" class="text-dark" aria-label="Perfil de LinkedIn de Mishelle Menéndez"><i class="fab fa-linkedin"></i> Mishelle Menéndez</a></li>
          <li><a href="https://www.linkedin.com/in/milton-peralta-5a7482307" class="text-dark" aria-label="Perfil de LinkedIn de Milton Peralta"><i class="fab fa-linkedin"></i> Milton Peralta</a></li>
        </ul>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <a href="#" class="text-dark" aria-label="Derechos Reservados de FruitSafe">© 2024 Derechos Reservados: FruitSafe</a>
    </div>
  </div>
</footer>
